/* @font-face {
	font-family: "BellReg";
	src: url("./component/Font/Bellota-Regular.ttf")
} */
.nav-container{
    position: fixed;
    top:0;
    right: 0;
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: cadetblue;
}

.nav-link {
    height: 89px;
    list-style: none;
    font-family: "Gill Sans", sans-serif;
    color: whitesmoke;
    text-align: center;
    font-size: 1.4em;
}
