.container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
  /* background-color: rgba(39,39,39,0.8); */
}
.box {
  /* border: 1px solid white; */
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.resume {
  flex: 0 0 50%;
  max-width: 45%;
}
.content {
  max-width: 370px;
}
.content-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.resume-box {
  position: relative;
  cursor: pointer;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 165px;
  height: 165px;
  text-align: center;
  border: 1px solid white;
  margin: 8px;
}

.resume-box:hover {
  /* background: #1c1c1c; */
  /* background:#ebe7d7; */
  background: #6c6c6c;
}

.box-text {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 20px;
  line-height: 1.9;
  letter-spacing: 1px;
}
.description h1 {
  font-size: 36px;
  text-align: center;
}
.description h4 {
  font-size: 19px;
  font-weight: 300;
  text-align: center;
}
hr {
  width: 360px;
}
.box-icon img {
  width: 40px;
}
